.altura{
    margin-top: 70px;
}

.tabled{
    display: inline-table !important;
}

.centrar{
    text-align: center;
   
}

.btn{
    margin-bottom: 10px;
}

.thspace{
    width: 12%;
}

.thspacer{
    width: 25%;
}

.tdespacio{
    width: 9%;
}

.tamanio{
    width: 120px;
}